h3,span{
    font-size:x-large;
    height: 100px;
    width:100%;
    text-align: center;
    margin-top: 0px;
    
    
}

body{
    text-align: center;
    background-image: url("https://wallpapercave.com/wp/wp8457506.jpg");
}

canvas{
    border:5px  solid red;
   
    border-radius:20px;
}